<%= form_for(@brewer) do |f| %>
  <% if @brewer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brewer.errors.count, "error") %> prohibited this brewer from being saved:</h2>

      <ul>
      <% @brewer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :zip %><br />
    <%= f.number_field :zip, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit :class =>  'btn btn-default'%>
  </div>
<% end %>
