<!DOCTYPE html>
<html>
<head>
  <title>Beertradr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Beer Trad<span class="pink">r</span></a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#">Add Your Beer <i class="glyphicon glyphicon-plus"></i></a></li>
		      <li><a href="#">Trade</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
		      <li><a href="#">Logout</a></li>
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <header>

  </header>
<%= yield %>

	</div>

</body>
</html>
